.ligneTab {
	//border: 1px solid;
	.btn {
		display: inline-block !important;
	}
	&:hover .editRequest:before {
		content: "errr";
	}
}

.table {
	.btn {
		display: none;
	}
}

#filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 1rem 0;
	label,
	div {
		padding-rig
	}
}

#search-bar-0-label {
	display: none;
}
