.react-bootstrap-table {
	td {
		vertical-align: middle;
	   }
}

.editRequest {
	//visibility: hidden;
	opacity: 0;
	transform: translate(0, -2%);
}

.ligneTab {
	//border: 1px solid;
	.btn {
		display: inline-block !important;
	}

	&:hover .editRequest {
		//visibility: visible;						
		opacity: 1;
		transform: translate(0, 0%);
		transition: all 2s ease-in;
	}
	&:hover .status {
		display: none;
		visibility: hidden;
	}
}

.table {
	.btn {
		display: none;
	}
}

#filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 1rem 0;
	label,
	div {
		padding-right: 1rem;
	}
}




.table-bordered > :not(caption) > * > * {
	border-width:inherit !important;
}


.arrow {
	display: inline-flex;
	margin-left: 1rem;
	font-size: 2rem;
	//border: 1px solid;
	.selected {
		font-size: 2.2rem;

	}
}

.switch {
	display: inline-flex;
}

.searchBar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}