

.table {
	min-width: 1220px;
		.btn {
			display: none;
	}
	
	td {
		vertical-align: middle;
	   }
	   .btn-info {
		color: white;
		font-weight: bold;
		border: transparent;
	}
	.editRequest.btn {
		border: 1px solid transparent;
		transition: opacity 1s ease-out;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: all .1s ease;
	}

	.status.btn {
		display: inline-flex;
		border: 1px solid transparent;
		padding-left: 0;
		transition: all .6s ease-in;
	}

}


.table tr:hover {
	cursor: pointer;
	background-color: rgb(235, 235, 235);
	.status.btn {
		display: none;
	}


	.btn.editRequest{
		display: inline-flex;
		border: 1px solid transparent;
		background: blue;
		color: white;
		font-weight: bold;	
		opacity: 1;
		height: auto;

		&:hover{
			border-color: blue;
		}
	}


}



#filter {
	min-width: 1220px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 1rem 0;
	label,
	div {
		padding-right: 1rem;
	}
}




.table-bordered > :not(caption) > * > * {
	border-width:inherit !important;
}


.arrow {
	display: inline-flex;
	margin-left: 1rem;
	font-size: 2rem;
	//border: 1px solid;
	.selected {
		font-size: 2.2rem;

	}
}

.switch {
	display: inline-flex;
}

.searchBar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}


.react-bootstrap-table-page-btns-ul {
}